
body,
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans';
    color: #777;
}

.col-2,
.col-3 {
    display: inline-block;
    vertical-align: top;
}

.col-2 {
    width: 49%;
}
.col-2:first-of-type {
    margin-right: 2%;
}
.col-3 {
    width: 32.5%;
    margin-right: 1%;
}
.col-3:last-of-type {
    margin-right: 0;
}

.header {
    height: 150px;
    padding: 0 30px;
    border-bottom: 5px solid #50ba9a;
    box-shadow: 0 3px 12px 1px #bbb;
    color: #666;
}

.logo,
.logo:active,
.logo:visited {
    color: #666;
}

.logo,
.head-desc {
    display: inline-block;
    vertical-align: top;
}

.logo {
    margin-top: 36px;
    text-decoration: none;
}

.logo-title {
    font-size: 36px;
    font-weight: bold;
}
.logo-sub-title {
    position: relative;
    top: -3px;
    margin-left: 5px;
    font-size: 15px;
    font-family: Georgia;
}

.head-desc {
    width: 400px;
    margin: 40px 0 0 150px;
    font-size: 14px;
    line-height: 1.7;
    color: #777;
}

.content {
    display: none;
    width: 1000px;
    margin: 50px auto;
}

.loader {
    width: 100%;
    height: 90px;
    margin: 50px 0;
    background: url('i/loader.gif') no-repeat center center;
    opacity: .5;
}

.profile,
.form {
    display: inline-block;
    vertical-align: top;
}

.profile {
    width: 400px;
    height: 550px;
    margin-right: 40px;
    border: 15px solid #eee;
}
.form {
    width: 530px;
    height: 580px;
    background: #eee;
}
.form-content {
    margin: 15px 25px;
}

.form-item {
    margin-bottom: 25px;
}
.activity-item {
    margin-bottom: 10px;
}

.form-title {
    margin-bottom: 6px;

}
.btn {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #57bf9e;
    cursor: pointer;
}
.btn:hover {
    background: #65ceab;
}
.btn.active {
    background: #30896b;
}

.form-value {
    margin-left: 7px;
    color: #50ba9a;
    font-weight: bold;
}

/*****************************/
.range {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range::-webkit-slider-thumb {
     -webkit-appearance: none;
     height: 14px;
     width: 20px;
     border-radius: 5px;
     background: #50ba9a;
     border: none;
     cursor: pointer;
}
.range::-moz-range-thumb {
    height: 14px;
    width: 20px;
    border-radius: 5px;
    background: #50ba9a;
    border: none;
    cursor: pointer;
}
.range::-ms-thumb {
    height: 14px;
    width: 20px;
    border-radius: 5px;
    background: #50ba9a;
    border: none;
    cursor: pointer;
}
.range::-webkit-slider-runnable-track {
    height: 14px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.range::-moz-range-track  {
    height: 14px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.range::-ms-track  {
    height: 14px;
    background: #ddd;
    border: none;
    border-radius: 10px;
    color: transparent;
    overflow: visible;
}
.range::-ms-fill-lower {
    outline: none;
    background: #ddd;
    border-radius: 10px 0 0 10px;
}
.range:focus {
    outline: none;
}
/*****************************/

.activity-block > div {
    position: relative;
    display: inline-block;
    width: 66px;
    vertical-align: bottom;
    margin-right: 2px;
    background: #bcf2e0;
    cursor: pointer;
}
.activity-block > div.hover {
    background: #65ceab;
}
.activity-block > div.hover:before {
    border-color: transparent transparent #65ceab transparent;
}

.activity-block > div.active {
    background: #30896b;
}
.activity-block > div.active:before {
    border-color: transparent transparent #30896b transparent;
}


.activity-block > div:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
}
.activity-block > div:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 66px;
    border-color: transparent transparent #bcf2e0 transparent;
    background: none;
}
.activity-1 {
    height: 0px;
}
.activity-2 {
    height: 8px;
}
.activity-3 {
    height: 16px;
}
.activity-4 {
    height: 24px;
}
.activity-5 {
    height: 32px;
}
.activity-6 {
    height: 40px;
}
.activity-7 {
    height: 48px;
}
.activity-images {
    margin-top: 8px;
}
.activity-images > div {
    display: inline-block;
    width: 66px;
    height: 55px;
    margin-right: 2px;
    vertical-align: top;
    background: url('i/sprite.png') no-repeat ;
    opacity: .8;
}
.activity-images .activity-image-1 {
    background-position: 0 0;
}
.activity-images .activity-image-2 {
    background-position: 0 -105px;
}
.activity-images .activity-image-3 {
    background-position: 0 -210px;
}
.activity-images .activity-image-4 {
    background-position: 0 -315px;
}
.activity-images .activity-image-5 {
    background-position: 0 -420px;
}
.activity-images .activity-image-6 {
    background-position: 0 -525px;
}
.activity-images .activity-image-7 {
    background-position: 0 -630px;
}
.profile {
    position: relative;
}
.profile-image,
.profile-summary {
    display: inline-block;
    vertical-align: top;
}
.profile-image {
    width: 88px;
    height: 250px;
    margin: 15px 0 0 35px;
    background: url(i/sprite.png) no-repeat;
}
.profile-image.man {
    background-position: 0 -735px;
}
.profile-image.woman {
    background-position: 0 -1035px;
}

.profile-summary {
    width: 270px;
    padding-top: 25px;
}
.summary-item {
    margin: 0 0 30px 40px;
    font-size: 22px;
}
.summary-activity {
    font-size: 16px;
}
.result-title {
    position: absolute;
    left: 10%;
    bottom: 150px;
    width: 80%;
    font-size: 18px;
    text-align: center;
}
.result {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}